body {
	font-family: 'Helvetica';
	font-size: 18px;
	background: url('../images/bg/hipset_bg.png');
	backgrond-repeat: repeat; 
}

h2 {
	font-size: 25px; 
	margin: 0;
}

input[type=button] {
	font-size: 20px; 
}

text {
	fill: #000; 
}

#svg_container svg {
	position: relative; 
	float: left; 
  width: 1280px;
  height: 800px;
  pointer-events: all;
}

circle {
  fill: #dbe4f0;
}

path {
  fill: #aaa;
  stroke: #fff;
}

#individual_country_container {
	position: relative; 
	float: left;
	margin: 300px; 
 
	padding: 12px; 

	margin: 25px; 
	
	min-width: 54%;
	left: 25%;  
	top: 10%;
	height: 600px; 
}

#individual_country_container p {
	margin: 0;
}

#individual_country_container svg {
	position: absolute; 
	bottom: 70px; 
}
